{{ form_start(form) }}
    <div class="form">
        {{ form_widget(form) }}
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-lg" type="submit">{{ submitButtonText }}</button>
    </div>

{{ form_end(form) }}