{% extends 'layouts/base.html.twig' %}

{% block title 'Reset your password' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center title">Reset your password</h1>

            {{ form_start(resetForm) }}
            <div class="form">
                {{ form_row(resetForm.plainPassword) }}
            </div>
                

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg">Reset password</button>    
                </div>
            {{ form_end(resetForm) }}        
        </div>
    </div>




{% endblock %}
