<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot;
            <a href="https://github.com/AnaChqt" class="link fw-bold text-decoration-none">Anaïs</a> || Tous droits réservés.
        </small>
    </p>
</footer>